<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfshare.mvp.server.mapper.manual.ManualTbProductMapper">
<!-- BaseResultOtherMap -->
	<resultMap id="BaseResultOtherMap"
		type="com.jfshare.mvp.server.model.TbProductSurvey">
		<id column="product_id" property="productId" jdbcType="VARCHAR" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="item_name" property="subjectName" jdbcType="VARCHAR" />
		<result column="cur_price" property="curPrice" jdbcType="INTEGER" />
		<result column="org_price" property="orgPrice" jdbcType="INTEGER" />
		<result column="presentexp" property="presentExp" jdbcType="INTEGER" />
		<result column="img_key" property="imgKey" jdbcType="VARCHAR" />
		<result column="active_state" property="activeState" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" />
	</resultMap>
	
		<!-- 查询条件 product_id product_name -->
	<select id="productSurveyQuery"
		parameterType="com.jfshare.mvp.server.model.ProductSurveyQueryParam"
		resultMap="BaseResultOtherMap">
		SELECT
		p.product_id,
		p.product_name,
		s.item_name,
		p.cur_price,
		p.org_price,
		p.presentexp,
		p.img_key,
		p.active_state,
		p.create_time
		FROM tb_product p LEFT JOIN tb_product_item s
		ON p.item_no = s.item_no
		<where>
			<if test=" param != null and param != ''">
				AND p.product_id like CONCAT('%',#{param},'%')
			</if>
			<if test=" param != null and param != ''">
				or p.product_name like CONCAT('%',#{param},'%')
			</if>
			<if test=" activeState != 0">
				AND p.active_state = #{activeState,jdbcType=INTEGER}
			</if>
			<if test=" itemNo != 0">
				AND p.item_No = #{itemNo,jdbcType=INTEGER}
			</if>
		</where>
		<if test="sort == null or sort == ''">
			ORDER BY create_time DESC
		</if>
		<if test="sort == 'cur_price DESC'">
			ORDER BY cur_price DESC
		</if>
	</select>
</mapper>