<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfshare.mvp.server.mapper.TbAppVerinfoMapper">
  <resultMap id="BaseResultMap" type="com.jfshare.mvp.server.model.TbAppVerinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_type" jdbcType="INTEGER" property="appType" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="min_version" jdbcType="VARCHAR" property="minVersion" />
    <result column="max_version" jdbcType="VARCHAR" property="maxVersion" />
    <result column="upgrade_type" jdbcType="INTEGER" property="upgradeType" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="upgrade_desc" jdbcType="VARCHAR" property="upgradeDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_type, version, min_version, max_version, upgrade_type, url, upgrade_desc, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.jfshare.mvp.server.model.TbAppVerinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_app_verinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_app_verinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_app_verinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jfshare.mvp.server.model.TbAppVerinfoExample">
    delete from tb_app_verinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jfshare.mvp.server.model.TbAppVerinfo">
    insert into tb_app_verinfo (id, app_type, version, 
      min_version, max_version, upgrade_type, 
      url, upgrade_desc, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{appType,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, 
      #{minVersion,jdbcType=VARCHAR}, #{maxVersion,jdbcType=VARCHAR}, #{upgradeType,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{upgradeDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jfshare.mvp.server.model.TbAppVerinfo">
    insert into tb_app_verinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appType != null">
        app_type,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="minVersion != null">
        min_version,
      </if>
      <if test="maxVersion != null">
        max_version,
      </if>
      <if test="upgradeType != null">
        upgrade_type,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="upgradeDesc != null">
        upgrade_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="minVersion != null">
        #{minVersion,jdbcType=VARCHAR},
      </if>
      <if test="maxVersion != null">
        #{maxVersion,jdbcType=VARCHAR},
      </if>
      <if test="upgradeType != null">
        #{upgradeType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="upgradeDesc != null">
        #{upgradeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jfshare.mvp.server.model.TbAppVerinfoExample" resultType="java.lang.Integer">
    select count(*) from tb_app_verinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_app_verinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appType != null">
        app_type = #{record.appType,jdbcType=INTEGER},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.minVersion != null">
        min_version = #{record.minVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.maxVersion != null">
        max_version = #{record.maxVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.upgradeType != null">
        upgrade_type = #{record.upgradeType,jdbcType=INTEGER},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.upgradeDesc != null">
        upgrade_desc = #{record.upgradeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_app_verinfo
    set id = #{record.id,jdbcType=INTEGER},
      app_type = #{record.appType,jdbcType=INTEGER},
      version = #{record.version,jdbcType=VARCHAR},
      min_version = #{record.minVersion,jdbcType=VARCHAR},
      max_version = #{record.maxVersion,jdbcType=VARCHAR},
      upgrade_type = #{record.upgradeType,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      upgrade_desc = #{record.upgradeDesc,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jfshare.mvp.server.model.TbAppVerinfo">
    update tb_app_verinfo
    <set>
      <if test="appType != null">
        app_type = #{appType,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="minVersion != null">
        min_version = #{minVersion,jdbcType=VARCHAR},
      </if>
      <if test="maxVersion != null">
        max_version = #{maxVersion,jdbcType=VARCHAR},
      </if>
      <if test="upgradeType != null">
        upgrade_type = #{upgradeType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="upgradeDesc != null">
        upgrade_desc = #{upgradeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jfshare.mvp.server.model.TbAppVerinfo">
    update tb_app_verinfo
    set app_type = #{appType,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR},
      min_version = #{minVersion,jdbcType=VARCHAR},
      max_version = #{maxVersion,jdbcType=VARCHAR},
      upgrade_type = #{upgradeType,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      upgrade_desc = #{upgradeDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>